
<div [id]="data?.id" class="__about-container" [style.background-color]="data?.backgroundColor">
    <div class="__about-wrapper">
        <div class="__about-row">
            <div class="__about-column-primary">
                <div class="__about-text-wrapper">
                    <p class="__about-topLine">{{ data?.topLine }}</p>
                    <h1 class="__about-h1">{{ data?.headline }}</h1>
                    <p class="__about-subtitle">{{ data?.description }}</p>
                    <div class="__about-button-wrapper">
                        <app-button [title]="data ? data.buttonLabel: 'Button'"></app-button>
                    </div>
                </div>
            </div>

            <div class="__about-column-secondary">
                <div class="__about-image-wrapper">
                    <img [src]="data?.img" [alt]="data?.imgAlt" class="__about-image"/>
                </div>
            </div>
        </div>
    </div>
        <div class="__about-wrapper">
            <div class="__about-row">
                
                <div class="__about-column-primary">
                    <div *ngFor="let s of skills" [id]="s?.id" class="__about-image-wrapper">
                        <h5>{{ s?.title}}</h5>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="s.value">
                                <span class="sr-only"> {{ s?.value }} Complecto</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="__about-column-primary">
                    <div class="__about-text-wrapper">
                        <p class="__about-topLine">{{ skill_info.topLine }}</p>
                        <h1 class="__about-h1">{{ skill_info.headline }}</h1>
                        <div class="__about-button-wrapper">
                            <app-button [title]="data ? skill_info.buttonLabel: 'Button'"></app-button>
                        </div>
                    </div>
                </div>
    
                
            </div>
        
    </div>
</div>
