<div class="__cover-container">
    <div class="__cover-bg">
        <img src="/assets/dev.jpg" class="__cover-image">
    </div>
    <div class="__cover-content">
        <h1 class="__cover-h1">Dev 001</h1>
        <p class="__cover-paragraph">
            UI/UX Design | Software Developer 
        </p>
        <div class="__cover-button-wrapper">
            <button class="__cover-button-wrapper-btn"> Hire Me</button>
            <button class="__cover-button-wrapper-btn"> Get Resume</button>
        </div>
    </div>
</div>
