<div class="__cover-container">
    <div class="__cover-bg">
        <img src="/assets/dev.jpg" class="__cover-image">
    </div>
    <div class="__cover-content">
        <h1 class="__cover-h1">Dev 001</h1>
        <p class="__cover-paragraph">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Possimus magnam mollitia, iste quis eveniet vero 
            nihil accusantium hic eum fuga 
            totam itaque culpa minima nesciunt at rerum, voluptatum officiis vel?
        </p>
        <div class="__cover-button-wrapper">
            <button class="__cover-button-wrapper-btn"> Hello Guys</button>
        </div>
    </div>
</div>
