.__navbar-nav {
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  
}

.__navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}

.__navbar-logo {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
}

.__navbar-menuIcon {
    display: none;
}


.__navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
  
.__navbar-menu-item {
    height: 80px;
}

.__navbar-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.__navbar-link:hover {
    border-bottom: 3px solid #2B7CD3;
}

.__navbar-link:active {
    border-bottom: 3px solid #2B7CD3;
}

.__navbar-navbtn {
    display: flex;
    align-items: center;
}


.__navbar-navbtn-link {
    border-radius: 4px;
    background: #014f86;
    white-space: nowrap;
    padding: 10px 22px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.__navbar-navbtn-link:hover {
    transition: all 0.2s ease-in-out;
    background: #010606;
}

@media screen and (max-width: 768px) {
    .__navbar-menuIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }

    .__navbar-menu {
        display: none;
    }

    .__navbar-navbtn {
        display: none;
    }
  }

@media screen and (max-width: 960px) {
    .__navbar-nav {
        transition: 0.8s all ease;
    }
}