<nav class="__navbar-nav" [style.background]="scrollNav ? '#000': 'transparent'">
    <div class="__navbar-container">
        <a href="#" class="__navbar-logo">Dev 011</a>
        <div class="__navbar-menuIcon">

        </div>
        <ul class="__navbar-menu">
            <li class="navbar-menu-item">
                <a href="#" class="__navbar-link">Ínicio</a>
            </li>
            <li class="navbar-menu-item" (click)="goToScroller('about-jump')">
                <a  class="__navbar-link">Habilidades</a>
            </li>
            
            <li class="navbar-menu-item" (click)="goToScroller('services-jump')">
                <a  class="__navbar-link">Projectos</a>
            </li>
            
            <li class="navbar-menu-item" (click)="goToScroller('contact-jump')">
                <a class="__navbar-link">Conctatos</a>
            </li>
        </ul>
    </div>
</nav>
