<nav class="__navbar-nav" [style.background]="scrollNav ? '#000': 'transparent'">
    <div class="__navbar-container">
        <a href="#" class="__navbar-logo">Dev 001</a>
        <div class="__navbar-menuIcon">

        </div>
        <ul class="__navbar-menu">
            <li class="navbar-menu-item">
                <a href="#" class="__navbar-link">Home</a>
            </li>
            <li class="navbar-menu-item" (click)="goToScroller('about-jump')">
                <a  class="__navbar-link">About</a>
            </li>
            
            <li class="navbar-menu-item" (click)="goToScroller('services-jump')">
                <a  class="__navbar-link">Services</a>
            </li>
            <li class="navbar-menu-item" (click)="goToScroller('portfolio-jump')">
                <a class="__navbar-link">Portfolio</a>
            </li>
            <li class="navbar-menu-item" (click)="goToScroller('contact-jump')">
                <a class="__navbar-link">Conctat</a>
            </li>
        </ul>
    </div>
</nav>
