<nav class="__navbar-nav">
    <div class="__navbar-container">
        <a href="#" class="__navbar-logo">Dev 001</a>
        <div class="__navbar-menuIcon">

        </div>
        <ul class="__navbar-menu">
            <li class="navbar-menu-item">
                <a routerLink="about" class="__navbar-link">About</a>
            </li>
            <li class="navbar-menu-item">
                <a routerLink="skills" class="__navbar-link">Skills</a>
            </li>
            <li class="navbar-menu-item">
                <a routerLink="projects" class="__navbar-link">Projects</a>
            </li>
        </ul>
        <nav class="__navbar-navbtn">
            <a href="" class="__navbar-navbtn-link">Resume</a>
        </nav>
    </div>
</nav>
