
<div class="__service-container" id="services-jump">
    <h1 class="__service-h1">Services</h1>

    <div class="__service-wrapper">
        <div class="__service-card">
            <img 
                class="__service-card-icon" 
                src="/assets/icons/vector.png" 
                alt="ui" 
            />
            <h2 class="__service-h2">UI/UX Design</h2>
            <p class="__service-paragraph">
                Creeping for female light years 
                that lesser can't evening heaven 
                isn't bearing tree
            </p>
        </div>
        <div class="__service-card">
            <img 
                class="__service-card-icon" 
                src="/assets/icons/data-management.png" 
                alt="developement" 
            />
            <h2 class="__service-h2">Software Developement</h2>
            <p class="__service-paragraph">
                Creeping for female light years 
                that lesser can't evening heaven 
                isn't bearing tree
            </p>
        </div>
        <div class="__service-card">
            <img 
                class="__service-card-icon" 
                src="/assets/icons/data-science.png" 
                alt="data-science" 
            />
            <h2 class="__service-h2">Data Science</h2>
            <p class="__service-paragraph">
                Creeping for female light years 
                that lesser can't evening heaven 
                isn't bearing tree
            </p>
        </div>
    </div>
</div>